Flask==3.0.3                 # Core web framework for building routes and handling HTTP requests.
Flask-Security-Too==5.5.2    # Adds user login and account management features.
Flask-Bcrypt==1.0.1          # Provides methods for securely hashing and verifying passwords.
Flask-Login==0.6.3           # Helps manage user session and authentication flows.
Flask-Migrate==4.0.7         # Handles database migrations with SQLAlchemy.
Flask-SQLAlchemy==3.1.1      # Combines SQLAlchemy with Flask to simplify database interaction.
Flask-WTF==1.2.2             # Streamlines form handling and validation processes.
Flask-Cors==5.0.0            # Adds Cross-Origin Resource Sharing for secure REST API use.
argon2_cffi                  # Provides Argon2 password hashing (used with Flask-Security-Too).
requests==2.32.3             # Simplifies making HTTP requests, ideal for consuming external APIs.
SQLAlchemy==2.0.36           # An ORM supporting complex database queries and relationships.
python-dotenv                # Loads environment variables from a .env file.