# .gitignore file Python and Flask
.DS_Store
.vscode/
venv/            # Virtual environment 
.env             # Environment variables and secrets
instance/        # Local SQLite database

# Python cache files
__pycache__/
.pytest_cache/
**/cache/
*.py[cod]        # Any compiled Python files with extensions .pyc, .pyo, .pyd


# Test & coverage artifacts
.coverage
htmlcov/
*.log


# Build & distribution
build/
dist/
*.egg-info/


# Miscellaneous - Possibly delete if not needed
Makefile
