<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Test Connections</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Lora:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        h1, h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    
    <h1>API Test Connections</h1>

    <!-- Register User -->
    <form action="{{ url_for('security.register') }}" method="POST"  class="form-container">
        <h2>Register User</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" class="form-input" placeholder="Enter your username" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-input" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-input" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="form-button">Register</button>
    </form>

    <!-- Login User -->
    <form action="{{ url_for('security.login') }}" method="POST" class="form-container">
        {{ login_user_form.hidden_tag() }}
        
        <div class="form-group">
            <label for="email">Email:</label>
            {{ login_user_form.email(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            {{ login_user_form.password(class="form-control") }}
        </div>

        <div class="form-group">
            <label for="remember">Remember Me:</label>
            {{ login_user_form.remember(class="form-check-input") }}
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <!-- Create New Room -->
    <form action="{{ url_for('create_new_room') }}" method="POST" class="form-container">
        <h2>Create New Room</h2>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" required>
        </div>
        <button type="submit" class="form-button">Create Room</button>
    </form>

    <!-- Update Room Status -->
    <form action="{{ url_for('update_room_status') }}" method="POST" class="form-container">
        <h2>Update Room Status</h2>
        <div class="form-group">
            <label for="RoomID">Room ID:</label>
            <input type="text" name="RoomID" class="form-input" id="RoomID" required>
        </div>
        <div class="form-group">
            <label for="WinningRestaurant">Winning Restaurant:</label>
            <input type="text" name="WinningRestaurant" class="form-input" id="WinningRestaurant">
        </div>
        <button type="submit" class="form-button">Update Room Status</button>
    </form>

    <!-- Get User Rooms -->
    <form action="{{ url_for('get_user_rooms') }}" method="GET" class="form-container">
        <h2>Get User Rooms</h2>
        <button type="submit" class="form-button">Get Rooms</button>
    </form>

    <!-- Create Vote -->
    <form action="{{ url_for('create_vote') }}" method="POST" class="form-container">
        <h2>Create Vote</h2>
        <div class="form-group">
            <label for="VoteRoomID">Room ID:</label>
            <input type="text" name="RoomID" id="VoteRoomID" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="HostUserID">Host User ID:</label>
            <input type="text" name="HostUserID" id="HostUserID" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="UserName">UserName:</label>
            <input type="text" name="UserName" id="UserName" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="RestaurantName">Restaurant Name:</label>
            <input type="text" name="RestaurantName" id="RestaurantName" class="form-input" required>
        </div>
        <div class="form-group">
            <label for="VoteChoice">Vote Choice:</label>
            <select name="VoteChoice" id="VoteChoice" required>
                <option value="Yum">Yum</option>
                <option value="Ew">Ew</option>
                <option value="Meh">Meh</option>
            </select>
        </div>
        <button type="submit" class="form-button">Create Vote</button>
    </form>
    
    <!-- Get Room Votes -->
    <form action="{{ url_for('get_room_votes') }}" method="GET" class="form-container">
        <h2>Get Room Votes</h2>
        <div class="form-group">
            <label for="GetRoomVotesID">Room ID:</label>
            <input type="text" name="RoomID" id="GetRoomVotesID" class="form-input" required>
        </div>
        <button type="submit" class="form-button">Get Votes</button>
    </form>

    <!-- Logout -->
    <form action="{{ url_for('logout') }}" method="GET" class="form-container">
        <h2>Logout</h2>
        <button type="submit" class="form-button">Logout</button>
    </form>

</body>
</html>
