{% extends "layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <form action="{{ url_for('security.forgot_password') }}" method="POST" class="form-container">
    {{ forgot_password_form.hidden_tag() }}

    <!-- Email Field -->
    <div class="form-group">
      {{ forgot_password_form.email.label }}
      {{ forgot_password_form.email(class="form-input") }}
      {% for e in forgot_password_form.email.errors %}
        <div class="fs-error-msg">{{ e }}</div>
      {% endfor %}
    </div>

    <button type="submit" class="button-primary">Send reset link</button>
  </form>
{% endblock %}